.opacity{
    opacity: 0.5;
}

.reel-header{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 10px;
    font-size: 1.4rem;
    min-height: 50px;
}
.profile-header{
    display: flex;
    font-size: 1rem;
    gap: 10px;
}

.sidebar{
    display: flex;
    justify-content: flex-end;
    color: white;
    min-height: 350px;
}
.sidebar-links{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.sidebar-icons{
    font-size: 22px;
    text-align: center;
}
.logo{
    width: 35px;
    aspect-ratio: 1;
}
.sidebar-bio{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 75px;
    background: black;
    font-size: 1.2rem;
}
.add-icon{
    transform: rotate(90deg);
    font-size: 2rem;
}
.navbar-items{
    width: calc(100% / 5);
}
.nav-txt{
    font-size: 0.7rem;
}

/* BONUS CSS */

.logo-icon::after{
    content: "+";
    border: 1px solid red;
    border-radius: 50%;
    height: 20px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    position: absolute;
    top: 0;
    translate: 45% 120%;
}
.profile-header .profile-link:last-child::after{
    content: "";
    display: block;
    background: white;
    width: 35px;
    height: 2px;
    translate: 25%;
}
.profile-header .profile-link:nth-child(2)::after{
    content: "";
    display: block;
    background: red;
    opacity: 0.5;
    width: 6px;
    border-radius: 50%;
    aspect-ratio: 1;
    top: 0;
    position: absolute;
    translate: 64px 10px;   
}
