.reel-header{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 10px;
    font-size: 1.4rem;
}
.profile-header{
    display: flex;
    font-size: 1rem;
    opacity: 0.5;
    gap: 10px;
}
.profile-header .profile-link:last-child{
    opacity: 1;
}